In [30]:
import numpy as np

# Домашнее задание к уроку 8

## Задание 1

Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно выбранных спортсменов: Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180. Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [31]:
y1 = np.array([173, 175, 180, 178, 177, 185, 183, 182]) #футболисты
y2 = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180]) #хоккеисты
y3 = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170]) #штангисты

In [32]:
# общее количество спортсменов и количество спортсменов в каждой группе
n1 = len(y1)
n2 = len(y2)
n3 = len(y3)
n = n1 + n2 + n3
n

28

In [33]:
# количество групп
k = 3

In [34]:
# вычисление средних по каждой группе спортсменов
y1_mean = np.mean(y1)
y2_mean = np.mean(y2)
y3_mean = np.mean(y3)
y1_mean, y2_mean, y3_mean

(179.125, 178.66666666666666, 172.72727272727272)

In [35]:
# объединим значения из всех групп в один вектор
y_all = np.concatenate([y1, y2, y3])
y_all

array([173, 175, 180, 178, 177, 185, 183, 182, 177, 179, 180, 188, 177,
       172, 171, 184, 180, 172, 173, 169, 177, 166, 180, 178, 177, 172,
       166, 170])

In [36]:
# вычислим среднее по всем значениям
y_mean = np.mean(y_all)
y_mean

176.46428571428572

In [37]:
# вычислим сумму квадратов отклонений от общего среднего
s2 = np.sum((y_all - y_mean)**2)
s2

830.9642857142854

In [38]:
# вычислим сумму квадратов отклонений средних групповых значений от общего среднего
s2_f = ((y1_mean - y_mean)**2) * n1 + ((y2_mean - y_mean)**2) * n2 + ((y3_mean - y_mean)**2) * n3
s2_f

253.9074675324678

In [39]:
# вычислим остаточную сумму квадратов отклонений
s2_residual = np.sum((y1 - y1_mean)**2) + np.sum((y2 - y2_mean)**2) + np.sum((y3 - y3_mean)**2)
s2_residual

577.0568181818182

In [40]:
# проверим равенство отклонений
s2 , (s2_f + s2_residual)

(830.9642857142854, 830.964285714286)

In [41]:
# вычислим факторную дисперсию
sigma2_f = s2_f / (k - 1)
sigma2_f

126.9537337662339

In [42]:
# Вычислим остаточную дисперсию
sigma2_residual = s2_residual / (n - k)
sigma2_residual

23.08227272727273

In [43]:
# вычислим F_h
F_h = sigma2_f / sigma2_residual
F_h

5.500053450812598

In [44]:
# уровень значимости и количество степеней свободы
alpha = 0.05
df_between = k - 1
df_inner = n - k
df_between, df_inner

(2, 25)

In [45]:
# Из таблицы Фишера 
F_cr = 3.385
F_h > F_cr

True

In [46]:
# Проверка
from scipy import stats
stats.f_oneway(y1, y2, y3)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

**Ответ**: Поскольку расчётное значение больше табличного, то различие между группами спортсменов статистически значимое.